<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{#add}}Create new Person{{/add}}{{^add}}Edit Person{{/add}}</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
<h1>{{#add}}Create new Person:{{/add}}{{^add}}Edit Person:{{/add}}</h1>
<a href="/personList">Back to Person List</a>
<br/><br/>
<form action="{{#add}}/person/add{{/add}}{{^add}}/person/{{personalities.id}}/edit{{/add}}" name="person" method="POST">
    <table border="0">
        {{#personalities.id}}
            <tr>
                <td>ID</td>
                <td>:</td>
                <td>{{personalities.id}}</td>
            </tr>
        {{/personalities.id}}
        <tr>
            <td>Last Name</td>
            <td>:</td>
            <td><input type="text" name="name" value="{{#personalities.name}}{{personalities.name}}{{/personalities.name}}" /></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>:</td>
            <td><input type="text" name="lastName" value="{{#personalities.lastName}}{{personalities.lastName}}{{/personalities.lastName}}" /></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>:</td>
            <td><input type="text" name="gender" value="{{#personalities.gender}}{{personalities.gender}}{{/personalities.gender}}" /></td>
        </tr>
        <tr>
            <td>Date of Birth</td>
            <td>:</td>
            <td><input type="date" name="dateOfBirth" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" value="{{#personalities.dateOfBirth}}{{personalities.dateOfBirth}}{{/personalities.dateOfBirth}}" /></td>
        </tr>
        <tr>
            <td>Place</td>
            <td>:</td>
            <td><select name="placeName">{{#places}}<option>{{placeName}}</option>{{/places}}</select></td>
        </tr>

    </table>
    <input type="submit" value="{{#add}}Create{{/add}}{{^add}}Update{{/add}}" />
</form>
<div>
    <a class="button" href="/personList">Back</a>
</div>
</body>
</html>