<!DOCTYPE HTML>
<html >
<head>
    <title>Person Database</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
<div class="one"><h1>Person Database</h1></div>
<a class="button" href="/personList">Persons</a>
<a class="button" href="/placeList">Places</a>
<a class="button" href="/filter">Search</a>
</body>
</html>