<!DOCTYPE HTML>
<html >
<head>
    <title>Person Database</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Person Database</h1>
<a href="/personList">Persons</a>
<a href="/filter">Search</a>
</body>
</html>