<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
<div>
    <form method="post">
        <input type="text" name="name" placeholder="Введите имя">
        <input type="text" name="lastName" placeholder="Введите фамилию">
        <input type="text" name="gender" placeholder="Введите пол">
        <input type="date" name="dateOfBirth" value="2019-01-01" placeholder="Введите дату рождения">
        <select name="placeName">{{#places}}<option>{{placeName}}</option>{{/places}}</select>
        <button type="submit">Add</button>
    </form>
</div>
<div>Список людей</div>
<table border="0">
    <thead>
            <td>Id</td>
            <td>Name</td>
            <td>Last Name</td>
            <td>Gender</td>
            <td>Date of Birth</td>
            <td>Place</td>
    </thead>
    {{#personalities}}
        <tbody>
            <td><a href="/person/{{id}}">{{id}}</a></td>
            <td>{{name}}</td>
            <td>{{lastName}}</td>
            <td>{{gender}}</td>
            <td>{{#dateOfBirth}}{{dateOfBirth}}{{/dateOfBirth}}</td>
            <td><strong>{{placeName}}</strong></td>
        </tbody>
    {{/personalities}}
</table>
<br/><br/>
<div>
    <a class="button" href="/">Back</a>
</div>
</body>
</html>

