<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
<h1>View Place</h1>
<a href="/placeList">Back to Place List</a>
<br/><br/>
{{#places}}
    <table border="0">
        <tr>
            <td>ID</td>
            <td>:</td>
            <td>{{places.placeId}}</td>
        </tr>
        <tr>
            <td>Name Place</td>
            <td>:</td>
            <td>{{places.placeName}}</td>
        </tr>
        <tr>
            <td>Parent</td>
            <td>:</td>
            <td>{{#places.parent}}{{places.parent}}{{/places.parent}}{{^places.parent}}None{{/places.parent}}</td>
        </tr>
    </table>
    <br/><br/>
    {{#allowDelete}}
        <form action="/place/{{places.placeId}}/delete" method="POST">
            Delete this place? <input type="submit" value="Yes" />
        </form>
    {{/allowDelete}}
    {{^allowDelete}}
        <div>
            <a class="button" href="/place/{{places.placeId}}/edit">Edit</a> |
            <a class="button" href="/place/{{places.placeId}}/delete">Delete</a>
        </div>
    {{/allowDelete}}
{{/places}}
</body>
</html>